<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{511,837},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{993,634},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1001,813},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1085,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1085,147},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{509,201}</string>
                <key>spriteSourceSize</key>
                <string>{515,213}</string>
                <key>textureRect</key>
                <string>{{1,634},{509,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1085,293},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1085,439},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1139,585},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1147,731},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1285,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>512.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1285,147},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1231,293},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>64K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1231,439},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1285,585},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1293,731},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>good.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{829,814},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,170}</string>
                <key>spriteSourceSize</key>
                <string>{171,170}</string>
                <key>textureRect</key>
                <string>{{657,814},{171,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,178}</string>
                <key>spriteSourceSize</key>
                <string>{479,178}</string>
                <key>textureRect</key>
                <string>{{512,634},{479,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1285,877},{126,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>overMedia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,540}</string>
                <key>spriteSourceSize</key>
                <string>{631,540}</string>
                <key>textureRect</key>
                <string>{{1,1},{631,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{631,540}</string>
                <key>spriteSourceSize</key>
                <string>{631,540}</string>
                <key>textureRect</key>
                <string>{{543,1},{631,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leaderBoard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{340,837},{169,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{337,141}</string>
                <key>spriteSourceSize</key>
                <string>{337,151}</string>
                <key>textureRect</key>
                <string>{{1,837},{337,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,136}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1147,877},{128,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{993,780},{31,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ico5.png</string>
            <key>size</key>
            <string>{1438,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87f2d68c334a25e25af64d7781099d2d:2238baa2c6a54c2c63420aac07671342:f51c1d36bd418d7e733d6e69c9a8f80b$</string>
            <key>textureFileName</key>
            <string>ico5.png</string>
        </dict>
    </dict>
</plist>
